//- alert-success .
mixin alert-success ()
    div(class="text-flash")
      - if (messages.success)
        .message.success
          span= messages.success
          span x

//- alert-error .
mixin alert-error ()
    div(class="text-flash")
      - if (messages.error)
        .message.error
          span= messages.error
          span x